sudo: false
language: python

python:
 - "3.6"
 - "3.7"
 - "3.8-dev"

cache: pip

before_install:
  - pip install -U pip setuptools
  - pip install -r requirements-dev.txt
  - pip install tox-travis
  - pip install .

script:
  - tox
  - coverage run --source aiortsp -m py.test
  - coverage report -m

after_success:
  - coveralls